body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: sans-serif;
    background-color: rgb(245, 241, 226);
    display: flex;
    justify-content: center;
}

content{
    width: 800px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:10px
}

/* Блок заголовку */
.title{
    width: auto;
    padding: 10px;
    margin-top: 20px;

    background: rgb(139, 80, 80);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Блок товарів */
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meow{
    font-weight: bold;
}

/* Блок окремого товару */
.item{
    min-width: 800px;
    min-height: 320px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #ffffff;

    border: 1px solid rgb(255, 210, 210);
    border-radius: 5px;
    box-shadow: 0 0 7px rgb(0, 0, 0, 0.3);
}

/* Блок назви товару */
.item-title{
    font-weight: bold;
    max-width: 180px;
    min-height: 38px;
}

/* Блок зображення товару */
.item-image{
    height: 200px;
    background-image: url(img.market/motokosa.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Блок з оплатою частинами */
.parts-pay{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.parts-pay img{
    height: 24px;
}

/* Блок ціни */
.prise{
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
}

.prise div:first-child{
    width: 100px;
    font-size: 20px;
}

.prise div:first-child span{
    text-decoration-line: line-through;
    
}

.prise div:first-child sup{
    font-size: 12px; 
}

.prise div:last-child{
    font-size: 24px;
}

.prise div:last-child sup{
    font-size: 14px;
}

/* Блок бонусної ціни */
.bonus{
    background: red;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.bonus div:first-child{
    width: 100px;
    font-size: 14px;
}

.bonus div:last-child{
    font-size: 24px;
}

.bonus div:last-child sup {
    font-size: 14px;
}

/* Блок контактів */
.contacts p {
    margin: 3px;
}

.contacts p:first-child{
    font-weight: bold;
}

.contacts p:last-child{
    border-left: 3px solid red;
}

/* Блок інформації */
.info {
    font-size: 9px;
    text-align: justify;
    color: gray;
}

.user-photo {
    width: 170px;
}